.footer{
  display: flex;
  background-color: rgb(12 12 12);
  justify-content: center;
}

.footer-text{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  margin: 2rem 2rem;
}