.navBar{
  background-color: rgb(12 12 12);
  height: 3.8rem;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1rem;
}

h3{
  color: white;
  font-size: 1.2rem;
  font-family: cursive;
  margin-left: 1rem;
}

ul{
  list-style: none;
  width: 100%;
  position: fixed;
  background-color: rgb(12 12 12);
  height: 3.8rem;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

a{
  text-decoration: none;
  color: white;
}

.navMenu{
  display: flex;
  justify-content: start;
  color: white;
  gap: 6rem;
}